.container {
  width: 40%;
  margin: 0 auto;
  padding-top: 30px;
}

.form-holder {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
}

textarea {
  outline: none;
  border: transparent 2px solid;
  background-color: transparent;
  color: black;
  padding: 20px;
  margin: 0 auto;
  height: 150px;
  font-size: 20px;
  resize: none;
  width: 100%;
}

.form__footer {
  display: flex;
  gap: 90px;

  h3 {
    padding-top: 15px;
    color: red;
    letter-spacing: 1px;
    text-align: center;
  }

  button {
    padding: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

